<launch>
  <!-- True for simulation, false for real-time and bagfiles -->
  <param name="/use_sim_time" value="false"/>

  <group ns="core_nav">
    <node pkg="core_nav"
          name="core_nav"
          type="core_nav_node"
          output="screen">

      <!-- Initial pose -->
      <rosparam param="init">
        position: {x: 0.691949695095547, y: -1.395750757746275, z: 312.2643980319930}
        velocity: {vx: 0.0, vy: 0.0, vz: 0.0}
        orientation: {qx: 0.0, qy: 0.0, qz: 0.0, qw: 1.0}

      </rosparam>

      <rosparam file="$(find core_nav)/config/parameters.yaml"/>
      <rosparam file="$(find core_nav)/config/init_params.yaml"/>
    </node>
  </group>
</launch>
